// Specific CSS for your home-page
.banner {
  width: 100% ;
  height: 500px;
  background-image: url('bakery.jpg');
  background-size: cover;
  background-position: center;
}

.tag-line {
  text-align: center;
  text-decoration: underline;
}

.menu {
  text-align: center;
  p {
    margin-top: 2px;
  }
}

.menu-cards {
  padding: 5px 10px;
  img{
    width: 100%;
    border-radius: 10px;

  }
}

.order {
  text-align: center;
  margin: 25px auto 40px;
}

.order-content {
  margin-left: 10px;
}

.post {
  span {
    font-size: .8em
  }
}

.menu-item {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.menu-text {
  height: 75px;
  margin-bottom:2px;
}

.menu-price {
  font-weight: bold;
}
