<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Gluten Free Bakeshop Story</h1>
      <p>Baking runs in the family, and we all enjoy satisfying our sweet teeth with our bakes. However, one among our family turned-out to be gluten-insensitive. So to get him his fix, we tweaked our heirloom recipes to gluten-free munchies. It is now our goal to share them with the community. We hope you'll enjoy them as much as we do!</p>
    </div>
  </div>
</div>
