<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Contact Us</h1>
      <h2>Address:</h2>
      <h4>#9 Katipunan, Quezon City, Philippines</h4>
      <h2>Telephone:</h2>
      <h4>(02)920-11-22</h4>
      <h2>Email:</h2>
      <h4>glutenfree@bakery.com</h4>
    </div>
  </div>
</div>
